<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Astronomy Club, IIT (BHU) Varanasi">

        <title>Astronomy Club - IIT (BHU) Varanasi</title>
        <link rel="icon" type="image/ico" href="/static/img/favicon.ico">

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

        <!-- Custom Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/clubs/astro/custom.css" type="text/css">
        <!-- <style>
html *
{
/*font-family: "Open Sans", Sans-serif!important;*/
}

</style>
-->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="/">Astronomy Club
                        <br><span class="iit-heading normal-font">SnTC - IIT BHU</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#about">About</a></li>
                        <li><a class="page-scroll" href="#workshops">Workshops</a></li>
                        <li><a class="page-scroll" href="#highlights">Highlights</a></li>
                        <li class="dropdown" id="clubs">
                            <a data-toggle="dropdown" data-target="#clubs" style="cursor:pointer;">Clubs</a>
                            <ul class="dropdown-menu">
                                <li><a href="/clubs/aero_modelling">Aero-Modelling Club</a></li>
                                <li><a href="/clubs/astronomy">Astronomy Club</a></li>
                                <li><a href="/clubs/biz">Buisness Club</a></li>
                                <li><a href="/clubs/cops">Club of Programmers</a></li>
                                <li><a href="/clubs/csi">Club of Sustainibility and Innovation</a></li>
                                <li><a href="/clubs/robotics">Robotics Club</a></li>
                                <li><a href="/clubs/sae">Society of Automotive Engineers</a></li>
                            </ul>
                        </li>
                        <li><a class="navbar-brand" href="/">
                            <img src="/static/tac/img/home.png" style="width:20px;">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <header>
            <div class="header-content">
                <a href="#about" class="btn btn-primary btn-xl page-scroll"  style="opacity: 0.35;">Find Out More</a>
            </div>
        </header>

        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">About | Astronomy Club
                            <hr class="light"></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-lg-push-1 text-center">
                        <p class="text-faded">“I’ve loved the stars too fondly to be fearful of the night.”<br> United by our love for the cosmos, Astronomy Club IIT (BHU), aims to bring out the fervour for astronomy in each individual. From the tiniest subatomic and theorized particles to the massive superclusters, we have got you all the 62 orders of magnitude covered. Come, explore with us the secrets of the winsome and ravishing night sky.<br><i>#AndheraKayamRahe </i></p>
                    </div>
                    <div class="col-lg-1 col-lg-push-1 text-center">
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="text-center" id="social-media">
                            <a href="http://www.facebook.com/astro.iitbhu" class="fa fa-facebook"></a>
                            <!--                            <a href="/app" class="fa fa-android"></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="workshops">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Workshops</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <p>
                            <li class="lead">Freshers Introductory Workshop || 22<small>nd</small> August, 2019</li>
                            <li class="lead">Telescope Fabrication Workshop || 29<small>th</small> August, 2019</li>
                            <li class="lead">Observational Workshop || 24<small>th</small> October, 2019</li>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="no-padding" id="highlights">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading ribbon long-ribbon"><span>Highlights</span></h2>
                    </div>
                </div>
            </div>

            <!--highlights Section-->
            <section id="clubs" class="clubs bg-grey roomy-70 cf">
                <div class="container">
                    <div class="row">
                        <div class="main_clubs">
                            <div class="col-md-6">
                                <div class="clubs_slid">
                                    <div class="clubs_items text-center">
                                        <div class="clubs_item left">
                                            <img src="/static/clubs/astro/img/telescon.png" style="max-width: 100%;" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 cf">
                                <div class="clubs_item sm-m-top-50">
                                    <h2 class="section-heading">Telescon
                                        <hr class="light">
                                    </h2>
                                    <p class="m-top-20" style="font-size: 2.0rem!important;">Build your own Telescopes in this annual telescope fabrication activity which brushes the basics of optics and provides exposure to the Idea Development and Carpentry workshops.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section id="clubs" class="clubs bg-grey roomy-70">
                <div class="container">
                    <div class="row">
                        <div class="main_clubs">


                            <div class="col-md-6 col-md-push-6">
                                <div class="clubs_slid">
                                    <div class="clubs_items text-center">
                                        <div class="clubs_item">
                                            <img src="/static/clubs/astro/img/telescope_training.png" style="max-width: 100%;" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-md-pull-6">
                                <div class="clubs_item sm-m-top-50">
                                    <h2 class="section-heading">Telescope Training Sessions
                                        <hr class="light">
                                    </h2>
                                    <p class="m-top-20" style="font-size: 2.0rem!important;">Dedicated to the practice of assembling and handling of telescopes with expertise and safety, simultaneously imparting sky mapping skills. These sessions are held regularly to build up competence for participating in various events and marathons.
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </section>
            <section id="clubs" class="clubs bg-grey roomy-70">
                <div class="container">
                    <div class="row">
                        <div class="main_clubs">
                            <div class="col-md-6">
                                <div class="clubs_slid">
                                    <div class="clubs_items text-center">
                                        <div class="clubs_item">
                                            <img src="/static/clubs/astro/img/yuri_s%20night.png" style="max-width: 100%;" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="clubs_item sm-m-top-50">
                                    <h2 class="section-heading">Yuri’s Night
                                        <hr class="light">
                                    </h2>
                                    <p class="m-top-20" style="font-size: 2.0rem!important;">It begins with a guest lecture delivered by a designated professor in the field of astronomy. Following this is a ‘Star Party’ consisting of a movie screening of the students' choice and an observation session in parallel.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </section>



        <footer>
            <div class="container ">
                <div class="row">

                    <div class="col-sm-4 iit-gate-position">
                        <img class="iit-gate" src="/static/img/footer-img.png" alt="iitbhu-gate">
                    </div>
                    <div class="col-sm-4 iit-gate-position">
                        <p class="footer-company-name justify-content-center"> &copy;Managed by SNTC Tech Team </p>

                        <p class="footer-company-name justify-content-center"><span style="padding-right: 2.8%;">Navtosh Das</span><span style="padding-right: 5px ;">| </span><span> Dilbwag Singh</span></p>

                    </div>
                </div>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="/static/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="/static/js/jquery.easing.min.js"></script>
        <script src="/static/js/jquery.fittext.js"></script>
        <script src="/static/js/wow.min.js"></script>
        <script src="/static/js/morphext.min.js"></script>
        <script src="/static/js/jquery.bgswitcher.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="/static/clubs/astro/custom.js"></script>

    </body>

</html>
