<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Business Club, IIT (BHU) Varanasi">

        <title>Business Club - IIT (BHU) Varanasi</title>
        <link rel="icon" type="image/ico" href="/static/img/favicon.ico">

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

        <!-- Custom Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/clubs/biz/custom.css" type="text/css">
        <style>
            html *
            {
                font-family: "Open Sans", Sans-serif;
            }

        </style>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll">Business Club
                        <br><span class="iit-heading normal-font">SnTC - IIT BHU</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#about">About</a></li>
                        <li><a class="page-scroll" href="#workshops">Workshops</a></li>
                        <li><a class="page-scroll" href="#highlights">Highlights</a></li>
                        <li class="dropdown" id="clubs">
                            <a data-toggle="dropdown" data-target="#clubs" style="cursor:pointer;">Clubs</a>
                            <ul class="dropdown-menu">
                                <li><a href="/clubs/aero_modelling">Aero-Modelling Club</a></li>
                                <li><a href="/clubs/astronomy">Astronomy Club</a></li>
                                <li><a href="/clubs/biz">Buisness Club</a></li>
                                <li><a href="/clubs/cops">Club of Programmers</a></li>
                                <li><a href="/clubs/csi">Club of Sustainibility and Innovation</a></li>
                                <li><a href="/clubs/robotics">Robotics Club</a></li>
                                <li><a href="/clubs/sae">Society of Automotive Engineers</a></li>
                            </ul>
                        </li>

                        <li><a class="navbar-brand" href="/">
                            <img src="/static/tac/img/home.png" style="width:20px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header>
            <div class="header-content">
                <a href="#about" class="btn btn-primary btn-xl page-scroll"  style="opacity: 0.35;">Find Out More</a>
            </div>
        </header>

        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">About | Business Club
                            <hr class="light"></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-lg-push-1 text-center">
                        <p class="text-faded"><i>“Work until your bank account looks like a phone number.”</i><br>
                            We are a group of like-minded individuals who see the world with a different lens, striving to master the ability to create wealth out of thin air. The Business Club is a platform to test, train, and transform yourself into the business giant you could be. The club is all about ideas. Ideas which the people want so much that they’ll pay you for it, and how to develop an idea into a real-world entity.
                        </p>
                    </div>
                    <div class="col-lg-1 col-lg-push-1 text-center">
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="text-center" id="social-media">
                            <a href="https://www.facebook.com/bizclub.iitbhu/" class="fa fa-facebook"></a>
                            <!--                            <a href="/app" class="fa fa-android"></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="workshops">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Workshops</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <p>
                            <!-- <li class="lead">The first workshop was held on 7<small>th</small> September, 2016 on <a href="https://drive.google.com/open?id=0B70oh1tFT-5oSmRyV0VjSFgzTVk">Micro-Economics</a>.</li>
<li class="lead">The second workshop was held on 10<small>th</small> September, 2016 on <a href="https://drive.google.com/open?id=0B70oh1tFT-5oekVsUHlwNksyMmc">Game Theory</a>.</li>
<li class="lead">The third workshop was held on 22<small>nd</small> September, 2016 on <a href="https://drive.google.com/open?id=0Bx4TZc-0tqhxU3dsOF9JaE1vclE">Basics of Finance.</a></li>
<li class="lead">The fourth workshop was held on 18<small>th</small> October, 2016 on <!--a href="https://drive.google.com/open?id=0Bx4TZc-0tqhxU3dsOF9JaE1vclE""Macro-Economics."</li>
<li class="lead">The fifth workshop was held on 25<small>th</small> October, 2016 on "Creating Business Model and Pitching."</li>
<li class="lead">The sixth workshop was held on 9<small>th</small> January, 2017 on <a href="https://drive.google.com/a/itbhu.ac.in/file/d/0Bx4TZc-0tqhxQXRGMW94Q1hFSEU/view?usp=sharing">Introduction to Data Science</a> and <a href="https://drive.google.com/a/itbhu.ac.in/file/d/0Bx4TZc-0tqhxRjJlbVBtQU9oSGs/view?usp=sharing">Introduction to R</a>.</li>-->
                            <li class="lead">Introductory Workshop || 21<small>st</small> August, 2019</li>

                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!--highlights Section-->
        <section class="no-padding" id="highlightsst

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading ribbon long-ribbon"><span>Highlights</span></h2>
                    </div>
                </div>
            </div>
            <section id="clubs" class="clubs bg-grey roomy-70 cf">
                <div class="container">
                    <div class="row">
                        <div class="main_clubs animation-element slide-left testimonial">
                            <div class="col-md-6">
                                <div class="clubs_slid">
                                    <div class="clubs_items text-center">
                                        <div class="clubs_item left">
                                            <img src="/static/clubs/biz/img/dd.png" style="max-width: 100%;" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 cf">
                                <div class="clubs_item sm-m-top-50 right content animation-element">
                                    <h2 class="section-heading"><b>Due Diligence (DD)</b>
                                        <hr class="light">
                                    </h2>
                                    <p class="m-top-20" style="font-size: 2.0rem!important;">A series of workshops and case sessions on understanding the fundamentals of
                                        solving business cases.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section id="clubs" class="clubs bg-grey roomy-70">
                <div class="container">
                    <div class="row">
                        <div class="main_clubs">


                            <div class="col-md-6 col-md-push-6">
                                <div class="clubs_slid">
                                    <div class="clubs_items text-center">
                                        <div class="clubs_item">
                                            <img src="/static/clubs/biz/img/ninja.png" style="max-width: 100%;" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-md-pull-6">
                                <div class="clubs_item sm-m-top-50">
                                    <h2 class="section-heading"><b>Ninja</b>
                                        <hr class="light">
                                    </h2>
                                    <p class="m-top-20" style="font-size: 2.0rem!important;">Get the taste of economics and finance under this series of workshops which
                                        cover the topics from money-making to the Great Depression.
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                +
            </section>
            <section id="clubs" class="clubs bg-grey roomy-70">
                <div class="container">
                    <div class="row">
                        <div class="main_clubs">
                            <div class="col-md-6">
                                <div class="clubs_slid">
                                    <div class="clubs_items text-center">
                                        <div class="clubs_item">
                                            <img src="/static/clubs/biz/img/data.png" style="max-width: 100%;" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="clubs_item sm-m-top-50">
                                    <h2 class="section-heading"><b>Data</b>
                                        <hr class="light">
                                    </h2>
                                    <p class="m-top-20" style="font-size: 2.0rem!important;">Want to quantify your intuition? Learn about the process of generating insights
                                        from data.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section id="clubs" class="clubs bg-grey roomy-70">
                <div class="container">
                    <div class="row">
                        <div class="main_clubs">


                            <div class="col-md-6 col-md-push-6">
                                <div class="clubs_slid">
                                    <div class="clubs_items text-center">
                                        <div class="clubs_item">
                                            <img src="/static/clubs/biz/img/mavericks.png" style="max-width: 100%;" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-md-pull-6">
                                <div class="clubs_item sm-m-top-50">
                                    <h2 class="section-heading"><b>Mavericks</b>
                                        <hr class="light">
                                    </h2>
                                    <p class="m-top-20" style="font-size: 2.0rem!important;">A series of guest lectures and business talks from eminent personalities to enrich
                                        you with the latest updates.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section id="clubs" class="clubs bg-grey roomy-70">
                <div class="container">
                    <div class="row">
                        <div class="main_clubs">
                            <div class="col-md-6">
                                <div class="clubs_slid">
                                    <div class="clubs_items text-center">
                                        <div class="clubs_item">
                                            <img src="/static/clubs/biz/img/bash.png" style="max-width: 100%;" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="clubs_item sm-m-top-50">
                                    <h2 class="section-heading"><b>BASH (Business Associates’ Special hour)</b>
                                        <hr class="light">
                                    </h2>
                                    <p class="m-top-20" style="font-size: 2.0rem!important;">The annual flagship event of the Business Club IIT (BHU), which includes a
                                        series of events to thoroughly assess your skills.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </section>





        <footer>
            <div class="container ">
                <div class="row">

                    <div class="col-sm-4 iit-gate-position">
                        <img class="iit-gate" src="/static/img/footer-img.png" alt="iitbhu-gate">
                    </div>
                    <div class="col-sm-4 iit-gate-position">
                        <p class="footer-company-name justify-content-center"> &copy;Managed by SNTC Tech Team </p>

                        <p class="footer-company-name justify-content-center"><span style="padding-right: 2.8%;">Navtosh Das</span><span style="padding-right: 5px ;">| </span><span> Dilbwag Singh</span></p>

                    </div>
                </div>
            </div>
        </footer>
        <!-- jQuery -->
        <script src="/static/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="/static/js/jquery.easing.min.js"></script>
        <script src="/static/js/jquery.fittext.js"></script>
        <script src="/static/js/wow.min.js"></script>
        <script src="/static/js/morphext.min.js"></script>
        <script src="/static/js/jquery.bgswitcher.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="/static/clubs/biz/custom.js"></script>

    </body>

</html>
