<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="203269059770-t9dknukdg0jil5idq4gkkfb5n254h1tt.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer
                >
        </script>
        <meta name="description" content="Science and Technology Council, IIT (BHU) Varanasi - A place where all the innovative ideas trapped in the quagmire of pen and paper, are given shape and transformed into reality.">
        <meta name="keywords" content=" science, technology, iit bhu, sntc, iit gymkhana, innovation, technex, festival, iit, council, varanasi">

        <title>Certificate Portal - IIT (BHU) Varanasi</title>
        <link rel="icon" type="image/ico" href="/static/img/favicon.ico">

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

        <!-- Custom Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/news-ticker.css" type="text/css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/learning/custom.css" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll">Certifcate Portal
                        <br><span class="iit-heading normal-font">SnTC - IIT BHU</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#about">About</a></li>
                        <li><a class="page-scroll" href="#generate">Generate</a></li>
                        <li><a class="page-scroll" href="#verify">Verification</a></li>
                                          <li><a class="navbar-brand" href="/">
                                <img src="/static/tac/img/home.png" style="width:20px;">
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--

<header>
<div class="header-content">
<a href="#about" class="btn btn-primary btn-xl page-scroll" style="opacity: 0.35;" >Find Out More</a>
</div>
</header>
-->

        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <br>
                        <br>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <br>
                        <h2 class="section-heading">About | Certificate Portal
                            <hr class="light">
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-lg-push-1 text-center">
                        <p class="text-faded" >Download all your certificates and verify them using the unique id or QR code on the certifcate.
                        </p>
                    </div>
                    <div class="col-lg-1 col-lg-push-1 text-center">
                        <br>
                        <br>
                        <br>
                        <br>

                    </div>
                </div>
            </div>
        </section>
                <section class="header" id="generate">
            <div class="container">
                <div class="row ">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Generate</span></h2>
                    </div>
                </div>
            </div>
            <div class="container">
                        <div class="col-md-12 text-center">
                            <h2 class="text-center">Sign in here to get your certificates</h2>
                            <!-- <h2 class="text-center"></h2> -->

                            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="light" align = "center">
                            <h2 class="text-center" id="loading">Loading</h2>
                            </div>
                            <script>
                                function onSignIn(googleUser) {
                                    document.getElementById("details").style.display = "block"; //shows the frame>
                                    // Useful data for your client-side scripts:
                                    var profile = googleUser.getBasicProfile();
                                    // The ID token you need to pass to your backend:
                                    var id_token = googleUser.getAuthResponse().id_token;
                                    console.log("ID Token: " + id_token);
                                    var email = profile.getEmail();
                                    var req_url = "https://script.google.com/macros/s/AKfycbwiI9Sfj8d8sUFetQN6LwTiEzryrJ8ZSDRWWfVyqmXTQhkIP6k/exec?task=generate&id="+ email.split("@")[0];

                                    document.getElementById("details").src = req_url;
                                    signOut();
                                }
                                function signOut() 
                                {
                                    var auth2 = gapi.auth2.getAuthInstance();
                                    auth2.signOut().then(function () {
                                    });
                                }
                            </script>

                            <div class="row">
                                <h2 class="text-center" ></h2>

                                <div class="col-lg-10 col-lg-offset-1 text-center" >
                                    <div class="holds-the-iframe"><iframe id ="details" width=100% height="600" frameBorder="0" ></iframe></div>
                                    <script>document.getElementById("details").style.display = "none";</script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="header" id="generate">
            <div class="container">
                <div class="row ">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Verification</span></h2>
                    </div>
                </div>
            </div>
            <div class="container">
                        <div class="col-md-12 text-center">
                            <h2 class="text-center">Enter the Certificate Number here to verify or scan the QR code on your certificate</h2>
                        </div>
                        <form align = "center">
                            <b>Certificate Number :</b>
                            <input id="name" type = "text" name = "name"/>
                            <br><br>
                            <button type="button" onclick="verification()">Verify</button>
                        </form>
                        <script>
                            function verification()
                            {


                                var id = document.getElementById("name").value;
                                if(id.length==12)
                                {
                                    var url1="https://www.sntciitbhu.co.in/verification?"+id;
                                    window.open(url1,'_blank')
                                }
                                else
                                {
                                    window.alert("Certificate Number should be 12 digit");
                                }
                            }
                        </script>
                    </div>
            </section>





        <footer>
            <div class="container ">
                <div class="row">

                    <div class="col-sm-4 iit-gate-position">
                        <img class="iit-gate" src="/static/img/footer-img.png" alt="iitbhu-gate">
                    </div>
                    <div class="col-sm-4 iit-gate-position">
                        <p class="footer-company-name justify-content-center"> &copy;Managed by SNTC Tech Team </p>

                        <p class="footer-company-name justify-content-center"><span style="padding-right: 2.8%;">Navtosh Das</span><span style="padding-right: 5px ;">| </span><span> Dilbwag Singh</span></p>

                    </div>
                </div>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="/static/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="/static/js/jquery.easing.min.js"></script>
        <script src="/static/js/jquery.fittext.js"></script>
        <script src="/static/js/wow.min.js"></script>
        <script src="/static/js/morphext.min.js"></script>
        <script src="/static/js/jquery.bgswitcher.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="/static/tac/custom.js"></script>

    </body>

</html>
