{% if msg %}
    <script>
        alert('{{ msg }}')
    </script>
{% endif %}
<!--
<html>
    <body>
        <form action="/postsignup/" method="POST">
            {% csrf_token %}
            Name: <input type="text" name="name"><br>
            Email: <input type="email" name="email"><br>
            Password <input type="password" name="pass"><br>
            <input type="submit" value="SignUp">
        </form>
    </body>
</html>
-->

<html>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            Name: <input type="text" name="name"><br>
            Email: <input type="email" name="email"><br>
            Password <input type="password" name="pass"><br>
            <input type="submit" value="SignUp">
        </form>
    </body>
</html>