<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Science and Technology Council, IIT (BHU) Varanasi - A place where all the innovative ideas trapped in the quagmire of pen and paper, are given shape and transformed into reality.">
        <meta name="keywords" content=" science, technology, iit bhu, sntc, iit gymkhana, innovation, technex, festival, iit, council, varanasi">

        <title>Techincal Activity Center - IIT (BHU) Varanasi</title>
        <link rel="icon" type="image/ico" href="/static/img/favicon.ico">

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

        <!-- Custom Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/news-ticker.css" type="text/css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/tac/custom.css" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->



                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                    <a class="navbar-brand page-scroll">Technical Activity Center

                        <br><span class="iit-heading normal-font">IIT (BHU) Varanasi</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#about">About</a></li>
                        <li><a class="page-scroll" href="#facilities">Facilities</a></li>
                        <li><a class="page-scroll" href="#projects">Projects</a></li>

                        <li><a class="page-scroll" href="#big_book">Big Book</a></li>
                        <li><a class="page-scroll" href="#technical_teams">Technical Teams</a></li>
                        <li><a class="navbar-brand" href="/">
                            <img src="/static/tac/img/home.png" style="width:20px;">
                            </a></li>
                    </ul>
                </div>

            </div>
        </nav>

        <header>
            <div class="header-content">
                <a href="#about" class="btn btn-primary btn-xl page-scroll" style="opacity: 0.35;" >Find Out More</a>
            </div>
        </header>

        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">About | Technical Activity Center
                            <hr class="light">
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-lg-push-1 text-center">
                        <p class="text-faded" >The Technical Activity Center (TAC) is a workspace to aid all the scientific and technical activities going on in the institute. This is the place where projects are identified from rough sketches on a paper and developed into fully working models. It is a collaborative space for all the technical clubs as well as other institute bodies, where students of expertise combine their skills and work on ambitious projects.
                        </p>
                    </div>
                    <div class="col-lg-1 col-lg-push-1 text-center">
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="text-center" id="social-media">
                            <a href="https://www.facebook.com/tac.iitbhu" class="fa fa-facebook"></a>
                            <!--                            <a href="/app" class="fa fa-android"></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class='header' id="facilities">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Facilities</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <p>
                            The council supports all science and tech-related activities/projects being carried out in the institute. To ensure smooth execution of their projects, students can get the required inventory issued from this website. The vast inventory available is regularly upgraded to meet the projects' necessities.                    
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2><span>Inventory List</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <iframe width=80% height= "500px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQPK55O0TRGnKgOX49122tzsEGOmw3Nxnbe-Ku9janNoygyQ_74_hZBEyKLqHiOwtZuLafhhTik76D-/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2><span>General Guidlines</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <p>
                            <li class="lead">Any number of items can be issued from the inventory by filling this <a href="https://docs.google.com/forms/d/e/1FAIpQLSdbitO1Z-37O6Ab3VLacPBgd0wKtK-8mPuiz4dzQO_q_-wTUw/viewform?usp=sf_link"><b>Form</b></a>.</li>
                            <li class="lead">Once the form is filled, you will be contacted shortly by the TAC team.</li>
                            <li class="lead">Some heavy/expensive equipemnts have to be used in the TAC premises only.</li>
                            <li class="lead">The items can be issued for a maximium period of 1 month. However they can be reissued if required.</li>
                            <li class="lead">A late fee of &#8377 10/week/item will be charged after due date.</li>
                            <li class="lead">A defaulters list will be prepared at the end of the semester and communicated to the respective departments and Gymkhana</li>
                            <li class="lead">The inventory items will be issued only if the request is considered genuine</li>
                            <li class="lead">if your requirement is not available at the moment, fill this <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOBnp1gfGnT9Q43HSavrT36MbZg33kShHCjSwB7iXwwczkIQ/viewform?usp=sf_link"><b>Wishlist</b></a> and we will try to get it as quickly as possible for you.</li>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="projects">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Projects</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <p>
                            To implement all that we have learnt and make something meaningful for the society the council projects are divided into 2 groups.
                            <br> <b>Long Term Projects(LTP):</b> These are institute funded projects that aim a larger goal to attain over a long time. The teams for these projects vary from 10-15 students and are recruited twice a year on institute level. These projects are proposed by students and selected amongst them jointly by the professors and core team at the start of the session.
                            <br><b>Student Proposed Projects(SPP):</b> These are short term projects comprising of team of one or more students propose a project. The students are provided guidance and the available inventory by the institute. The students bear the expenses of any additional requirements which may be refunded if the work of students is commendable.
                        </p>
                        <h2><span><a href="https://docs.google.com/forms/d/e/1FAIpQLSe4WmN6ezVmknlb-f9kgQLGQGpT4IrwsbAnSsdfgJW1W3opBA/viewform?usp=sf_link"><b>Propose a Project LTP or SPP  !!</b></a></span></h2>


                    </div>
                </div>
            </div>
        </section>
        <section id="big_book">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Big Book</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <p>
                            The Big Book contains an exhaustive list of all the technical projects (both completed and on-going) carried out in the institute. Each project is extensively described including particulars such as phases, timeline, technical teams etc. The Big Book is meant to serve as an inspiration and a reference for all the upcoming projects. The accolades and awards brought by the projects are also preserved in its pages.                       
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2><span>Projects</span></h2>
                    </div>
                </div>
            </div>
        </section>

        <section id="clubs" class="clubs bg-grey roomy-70">
            <div class="container">
                <div class="row">
                    <div class="main_clubs">        
                        <button type="button" class="collapsible">Tesla Coil</button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/tesla coil.png" style="max-width: 80%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20">
                                    A SSTC Setup creates very high voltage resulting in descent looking corona discharge arcs of up to 4-5 inches.
                                    This can be used as radio jammer, wireless energy transfer, creating musical tones, a kind of decoration and in some medical therapies.<br>
                                    <li class="lead">Nikhil Sinha - +91 88098 33320</li>
                                    <li class="lead">Niraj Kumar - +91 80833 05109</li>

                                </p>
                            </div>
                        </div>
                        <button type="button" class="collapsible">Bionic Arm</button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/tac_bionic_arm.png" style="max-width: 80%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20" style="font-size: 2.0rem!important;">                                   A technology designed to analyze the muscle activities corresponding to different movements using Electromyography. This 3D printed Prosthetic ARM integrates a technology that can identify the gesture performed by the human in reality and replicate that motion in itself. Hence, giving applications in various areas like handling dangerous Industrial equipments, helping amputees, controlling Gadgets from long distance etc. <br>
                                    <li class="lead">Mayank Bansal - +91 73897 62603</li>
                                    <li class="lead">Deepak - +91 85650 56197</li>
                                </p>
                            </div>
                        </div>
                        <button type="button" class="collapsible">Spider Bot</button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/tac_spiderbot.png" style="max-width: 100%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20">
                                    Biomimicry is the art and science of studying the practices of nature and then imitate these processes to solve complex human problems. The central idea is that nature, a consummate engineer, has already unravelled many of the problems we are struggling with. To cater to such demands, Spiderbot was developed which is a perfect application of biomimicry.<br>
                                    <li class="lead">Ashish Kumar - +91 70800 20826</li>
                                    <li class="lead">Pranati Tyagi - +91 97217 98027</li>
                                    <li class="lead">Shrishti Sharma - +91 97928 20939</li>
                                </p>
                            </div>
                        </div>

                        <button type="button" class="collapsible">Self – Balancing Bot</button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/tac_self_balancing_bot.png" style="max-width: 100%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20">
                                    The concept of two wheel self-balancing robot is based on the Inverted Pendulum theory. This type of robot has earned interest and fame among researchers and engineers of worldwide. It based on a control system that is used to stabilize an unstable system using efficient micro controllers and sensors. These robots provide exceptional robustness and capability due to their smaller size and power requirements. These types of robots find applications in several fields such as surveillance & transportation.<br>
                                    <li class="lead">Abhishek Lal Naikk - +91 78000 69375</li>

                                </p>
                            </div>
                        </div>
                        <button type="button" class="collapsible">Smart Dustbin</button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/tac_smart_dustbin.png" style="max-width: 100%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20">
                                    Smart Dustbin is a project started by members of CSI and E-cell to bring a cultural change in our country, by incentivesing people to throw waste inside the dustbin. It also focuses on the problem of overflowing bins by giving the real-time fill status of bins to the authorities. This project now aims at becoming a successful startup from this institute under the name of TrashCash.<br>
                                    <li class="lead">Vibhu Vardhan - +91 94601 22112</li>
                                    <li class="lead">Neeraj - +91 98195 72869</li>
                                    <li class="lead">Shashwat - +91 97029 29844</li>

                                </p>
                            </div>
                        </div>
                        <button type="button" class="collapsible">ArGM</button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/tac_ArGM.png" style="max-width: 100%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20">
                                   Augmented Reality Guided Map (ARGM) is an on-going project yet to be implemented. This project aims to enhance the navigational experience in campus by integrating Augmented Reality with maps. It will enable new entrants, external participants and other people who are not familiar with the campus, to have a comfortable experience in finding venues and places. ARGM will be developed into an android app using interactive 2D/3D models to fulfill its aim.
                                    <br>
                                    <li class="lead">Mohan - +91 9703364614 </li>
                                    <li class="lead">Ankit - +91 89530 7557</li>

                                </p>
                            </div>
                        </div>
                        <button type="button" class="collapsible">qLock</button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/tac_qlock.png" style="max-width: 100%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20">
                                    Do you find managing keys troublesome? qLock service comes into the play - Smart, Safe and Secure. With dynamic pass code facility, every time a user wishes to open the safe, a random new password is set for the lock using an OTP mechanism. So, the user doesn't need to remember any passwords. Also, as it has no physical dependency(static keys) involved, therefore, no worries for key management. The ultimate target is to relieve our consumers from any key management and added stress.<br>
                                    <li class="lead">Akash - +91 73900 71951 </li>
                                </p>
                            </div>
                        </div>
                        <button type="button" class="collapsible">Shaft Based Transmission System</button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/tac_transmission.png" style="max-width: 100%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20">
                                    The normal bicycle is one of the mediums of traveling and is used for riding, sports, etc. But at high speeds, there is the problem of chain slaking. Also, the area of contact between chain and sprocket is almost semicircular which causes very much frictional losses.<br>The aim of this project is to overcome these problems by introducing a new mechanical transmission system with the help of gear technology. It is called the shaft-driven system. A shaft-driven bicycle uses a shaft drive instead of a chain drive, which contains of two sets of bevel gear at both ends. A modified spur gear is used instead of the bevel gear for power transmission. The modified gear assembly is fixed at the two terminals of the shaft and messed with sprocket toothed which is used to transmit power from pedal to rear wheel..<br>
                                    <li class="lead">Ujjwal Ray - +91 70235 14272</li> 
                                </p>
                            </div>
                        </div>
                        <button type="button" class="collapsible">E-cycle </button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/tac_E_Cycle.png" style="max-width: 100%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20">
                                    This project was started in the summer of 2019. The motto is to sustain the eco-friendly campus of our institute. E-cycle can be run manually as well electrically at a time. For electrical control, we are using 250 Watt, 24-volt motor, two 12 volts 7.5 Ah batteries in series and 20-volt motor controller with 250 Watt power output. On a full charge, the cycle can cover 6 km with a maximum speed 25 km/s and 10 km with normal cycling range. Since this cycle can be switched into any of the two options for power operation, this can be a much better option for the students of our campus instead of using engine vehicles. For now, work is being done to make it more efficient. <br>
                                    <li class="lead">Rashmi Deep Mahawar - +91 94614 96523</li>
                                </p>
                            </div>
                        </div>
                        <button type="button" class="collapsible">Self-Balancing Two-Wheeler Model </button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/tac_self_balancing_bike.png" style="max-width: 100%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20">
                                    The project is about the designing of a two-wheeler self-balanced vehicle. The two-wheeler vehicle would be able to balance itself and can be stabilized against any impact and in zero velocity as well. Our aim is to design a prototype of a self-balancing bike.<br>The vehicle will be balanced using Control Moment Gyroscope. The Control Moment Gyroscope(CMG), will provide a torque in the direction opposite to that of the falling vehicle, that will be sufficient to stabilize it.<br>The gimbal motor in CMG will get data from Arduino (which is getting data from MPU 6050 Sensor) and will provide a rotational speed to the flywheel in direction perpendicular of its angular momentum, which results in a couple in the third direction, to balance the vehicle.
                                    <li class="lead">Rupendra Singh Saran - +91 90572 44016</li>


                            </div>
                        </div>
                        <button type="button" class="collapsible">Delta wing Plane </button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/deltawing.png" style="max-width: 100%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20">
                                    Unlike any other plane, the Delta wing plane does not have an seperate fuselage. Instead the fuselage and wing are fused to form a single body for reduced drag and maximum efficiency.
                                    The control surfaces are also integrated into a single elevon system.
                                    <br>
                                    <li class="lead">Prashant Dwivedi - +91 7017484139</li>
                                </p>
                            </div>
                        </div>
                        <button type="button" class="collapsible">Black-Hawk </button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/black_hawk.png" style="max-width: 100%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20">
                                    Black Hawk is a quadcopter with a high degree of stability. It is an autonomous drone equipped with GPS and  barometer for high stability control.The drone is also equipped with Gimbal and camera system for aerial recordings.
                                    <li class="lead">Prahlad Choudhary - +91 7014213309</li>
                                </p>
                            </div>
                        </div>
                        <button type="button" class="collapsible">Mentor-G Plane </button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/g10.png" style="max-width: 100%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20">
                                    The Mentor-G plane is a 26 cc gas engine plane designed for high thrust and high load lifting.
                                    The powerful engine delivers upto 2.5 hp of power and a thrust of 7200 g.
                                    <br>
                                    <li class="lead">Aakash Lokhande - +917798827065</li>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>



        <section id="technical_teams">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Technical Teams</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <p>
                            The technical teams of IIT (BHU) are the brains behind any major competition. The teams are often multidisciplinary, comprising of students from different clubs, each specializing in a different domain. Technical Teams represent the institute at national/international level competitions. A strong passion and genuine willingness is all that is required to work on a project and further be a part of any technical team.                        
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2><span>Teams</span></h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="clubs" class="clubs bg-grey roomy-70">
            <div class="container">
                <div class="row">
                    <div class="main_clubs">        
                        <button type="button" class="collapsible">Team Apeiron – Robocon</button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/tac_apeiron%20(1).png" style="max-width: 80%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20">
                                    The team Apeiron, is a group of robotcists, which participates in Asia Pacafic Robotics Competetition( ABU Robocon) and works on complex robots. The team in currently working on a 4 legged robot with complex leg designs. The team currently comprises of 24 members from various spheres of engineering, who work together to make robots that find an applicability in day to day lives.<br>
                                    <li class="lead">Anuj Singh - +91 94684 67535</li>
                                    <li class="lead">Pulkit Sharma - +91 73004 22101</li>

                                </p>
                            </div>
                        </div>
                        <button type="button" class="collapsible">Team SwaYatt – SAUVC</button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/tac_swayatt.png" style="max-width: 80%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20">                                   SwaYatt stands for autonomy and as the name suggests the team is the pioneer in the field of autonomous robotics at IIT BHU. The team is currently developing an Autonomous Underwater Vehicle (AUV), which is also the first major marine robotics project of the institute.
                                    Composed of Computer Vision, Control Systems, Mechanical, Electronics & Robotic Operating Systems sub-groups, the team wishes to participate in Singapore AUV Challange (SUAUVC) in near future and carries a vision to drive the Ganga river studies technologicallly and to enhance India's military capabilities by developing surveillance, reconnaissance & Mine countermeasures technologies.<br>
                                    <li class="lead">Naman Kansal - +91 85743 74292</li>
                                    <li class="lead">Sai Prasanth - +91 95948 56750</li>

                                </p>
                            </div>
                        </div>
                        <button type="button" class="collapsible">Team Trident – BAJA SAE</button>
                        <div class="content">
                            <div class="col-md-6">
                                <img src="/static/tac/img/tac_trident.png" style="max-width: 80%;" alt="" border = "5"/>
                            </div>

                            <div class="col-md-6">
                                <p class="m-top-20">Team Trident, a group of automobile enthusiasts who design and fabricate a safe, comfortable and reliable ATV (All - Terrain Vehicle) buggy with an aim of contributing to the development of automobile industry and represent the institute in national level competition. Team's goal is to design and build a single-seat, all-terrain, sporting vehicle whose structure contains the driver.  The vehicle is to be a prototype for a reliable, maintainable, ergonomic, and economic production vehicle.<br>
                                    <li class="lead">Ratnesh Kumar - +91 86010 66147</li>
                                    <li class="lead">Pranav Milind Khisti - +91 96952 23362</li>

                                </p>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </section>
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }
        </script>





        <footer>
            <div class="container ">
                <div class="row">

                    <div class="col-sm-4 iit-gate-position">
                        <img class="iit-gate" src="/static/img/footer-img.png" alt="iitbhu-gate">
                    </div>
                    <div class="col-sm-4 iit-gate-position">
                        <p class="footer-company-name justify-content-center"> &copy;Managed by SNTC Tech Team </p>

                        <p class="footer-company-name justify-content-center"><span style="padding-right: 2.8%;">Navtosh Das</span><span style="padding-right: 5px ;">| </span><span> Dilbwag Singh</span></p>

                    </div>
                </div>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="/static/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="/static/js/jquery.easing.min.js"></script>
        <script src="/static/js/jquery.fittext.js"></script>
        <script src="/static/js/wow.min.js"></script>
        <script src="/static/js/morphext.min.js"></script>
        <script src="/static/js/jquery.bgswitcher.js"></script>
        <script src="/static/js/jquery.newsTicker.min.js" type="text/javascript"></script>
        <!-- Custom Theme JavaScript -->
        <script src="/static/tac/custom.js"></script>

        <script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("onclick");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal 
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

        <script>
            // Get the modal
            var modal = document.getElementById("myModal1");

            // Get the button that opens the modal
            var btn = document.getElementById("onclick");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal 
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>


    </body>

</html>
