<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Club of Sustainibility and Innovation, IIT (BHU) Varanasi">

        <title>UDAAN</title>
        <link rel="icon" type="image/ico" href="/static/img/favicon.ico">

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

        <!-- Custom Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/udaan/custom.css" type="text/css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

        <style>
            html *
            {
                font-family: "Open Sans", Sans-serif!important;
            }

        </style>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" >UDAAN
                        <br><span class="iit-heading normal-font">IIT BHU</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#about">About</a></li>
                        <li><a class="page-scroll" href="#vision">Vision</a></li>
                        <li><a class="page-scroll" href="#structure">Event Structure</a></li>

                        <li><a class="page-scroll" href="#domains">Domains</a></li>
                        <li><a class="page-scroll" href="#guidelines">Guidelines</a></li>

                        <li><a class="page-scroll" href="#registration">Registration</a></li>
                        <li><a class="page-scroll" href="#timeline">Timeline</a></li>
                        <li><a href="/team">Contact Us</a></li>



                        <li><a class="navbar-brand" href="/">
                            <img src="/static/tac/img/home.png" style="width:20px;">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <header>
            <div class="header-content">
            </div>
        </header>

        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading" >About | UDAAN
                            <hr class="light" ></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-lg-push-1 text-center">
                        <p class="text-faded">The current dynamic of the world calls for changes. Changes that are drastic, smart and innovative.
                            <br>Also, in a society where education has become more about learning the same facts unquestionably, we need to re-ignite the flame of curiosity among students. 
                            Udaan aims to combine these two. It encourages students all over India to come up with new, original, unconventional ideas that could bring about Udy make it a better place by doing so.</p>
                    </div>

                </div>
            </div>
        </section>
        <section id="vision">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Vision</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <p>
                            We all are pretty aware of the fact that our home, the earth is slowly crumbling to pieces and is in a very delicate state right now. If proper action isn't taken soon enough, then spanning over the next three decades, some of our most intractable problems will gradually
                            worsen and become extremely difficult to handle, causing several disruptions to human
                            beings.<br><br>Therefore, Udaan aims to solve such problems impacting masses through innovative solutions
                            which can be implemented in the real world using Drones.

                            <br><br>Drones being one of the most rapidly growing technology, provides vast opportunities
                            for innovation and experimentation. We want our participants to brainstorm over this
                            highly versatile technology and use it for the benefit of the Society.

                            <br><br>Udaan's domains include defence, healthcare, disaster management, agritech, and smart living.
                            All of them hold massive importance in our lives. New innovative ideas in the betterment of these domains are welcome, as well as some pre-thought out ideas are always given in the brochure. 

                            <br><br>So, gear up your minds and put your thinking cap on for this groundbreaking adventure!


                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="structure">
                   <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Event Structure</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <p>The participants are expected to present their ideas in the specified Domains.<br>The event will be organized in 2 parts. The first part will be an online abstract submission round followed by an on-campus round where each team will have to give a presentation of their idea along with a proof of concept.</p>
                    </div>
                </div>
            </div>
        </section>
           
        <section class="no-padding" id="domains">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading ribbon long-ribbon"><span>Domains</span></h2>
                    </div>
                </div>
            </div>
        </section>


        <!--Domains Section-->
        <section id="clubs" class="clubs bg-grey roomy-70 cf">
            <div class="container">
                <div class="row">
                    <div class="main_clubs">
                        <div class="col-md-6">
                            <div class="clubs_slid">
                                <div class="clubs_items text-center">
                                    <div class="clubs_item left">
                                        <img src="/static/udaan/img/defence.png" style="max-width: 100%" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 cf">
                            <div class="clubs_item sm-m-top-50">
                                <h2 class="section-heading">Defence
                                    <hr>
                                </h2>
                                <p class="m-top-20" style="font-size: 2.0rem!important;"> As the role of unmanned aerial vehicles continues to grow in all sectors of society, new applications for drones in security and defence continue to emerge. Countless possibilities are being explored ranging from war weapons to security and surveillance. Through groundbreaking innovations, essential contributions can be made to our national security. 
                                </p>
                                <h2><span><a href="https://drive.google.com/open?id=1kM16gWjgqMUjLM_k9GpffTDLrdrZsvZm"><b>Detailed Problem Statement and Judging Criteria</b></a></span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="clubs" class="clubs bg-grey roomy-70">
            <div class="container">
                <div class="row">
                    <div class="main_clubs">


                        <div class="col-md-6 col-md-push-6">
                            <div class="clubs_slid">
                                <div class="clubs_items text-center">
                                    <div class="clubs_item">
                                        <img src="/static/udaan/img/health.png" style="max-width: 100%;" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-md-pull-6">
                            <div class="clubs_item sm-m-top-50">
                                <h2 class="section-heading">Health Care
                                    <hr >
                                </h2>
                                <p class="m-top-20" style="font-size: 2.0rem!important;">Healthcare industry is still one of the most challenging and fastest-growing sectors in India. Drones have immense potential to be used for healthcare practices and programs, directly affecting people's lives, for the good. The healthcare sector can be revolutionised by the integration of unmanned aerial vehicles in an innovative model. 

                                </p>
                                      <h2><span><a href="https://drive.google.com/file/d/19uqtreTB8lNv6LPiPqoPMa9Y3fx2nNc-/view?usp=sharing"><b>Detailed Problem Statement and Judging Criteria</b></a></span></h2>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </section>
        <section id="clubs" class="clubs bg-grey roomy-70">
            <div class="container">
                <div class="row">
                    <div class="main_clubs">
                        <div class="col-md-6">
                            <div class="clubs_slid">
                                <div class="clubs_items text-center">
                                    <div class="clubs_item">
                                        <img src="/static/udaan/img/agritech.png" style="max-width: 100%" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="clubs_item sm-m-top-50">
                                <h2 class="section-heading">Agritech
                                    <hr >
                                </h2>
                                <p class="m-top-20" style="font-size: 2.0rem!important;">While some leverage drones for aerial surveillance or just for recreational use, the AgriTech industry is now recognizing the monumental impact unmanned aerial vehicles (UAVs) have on land management. Drones are now tackling India's farmers' problems by being a part the wave of next-gen farming, a trend also known as smart farming, a holistic, software-centric approach to long-standing growing traditions.

                                </p>
                                  <h2><span><a href="https://drive.google.com/open?id=1ESno1DAcaH681jyRVTifjsSiEma6ag5-"><b>Detailed Problem Statement and Judging Criteria</b></a></span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="clubs" class="clubs bg-grey roomy-70">
            <div class="container">
                <div class="row">
                    <div class="main_clubs">


                        <div class="col-md-6 col-md-push-6">
                            <div class="clubs_slid">
                                <div class="clubs_items text-center">
                                    <div class="clubs_item">
                                        <img src="/static/udaan/img/disaster.png" style="max-width: 100%" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-md-pull-6">
                            <div class="clubs_item sm-m-top-50">
                                <h2 class="section-heading">Disaster management
                                    <hr >
                                </h2>
                                <p class="m-top-20" style="font-size: 2.0rem!important;">Unmanned aerial vehicles have countless applications in unfortunate times of inevitable disasters. From effective mapping to delivering emergency infrastructure and supplies, drones aid the affected people as well as the emergency response crews. With innovation in this technology from our side, the horizon of drones in disaster management can be expanded further

                                </p>
                                      <h2><span><a href="https://drive.google.com/file/d/1hUaXfIONbjKPknXRPOQLoID8EQgXEowh/view?usp=sharing"><b>Detailed Problem Statement and Judging Criteria</b></a></span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="clubs" class="clubs bg-grey roomy-70">
            <div class="container">
                <div class="row">
                    <div class="main_clubs">
                        <div class="col-md-6">
                            <div class="clubs_slid">
                                <div class="clubs_items text-center">
                                    <div class="clubs_item">
                                        <img src="/static/udaan/img/smart.png" style="max-width: 100%" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="clubs_item sm-m-top-50">
                                <h2 class="section-heading">Smart City
                                    <hr >
                                </h2>
                                <p class="m-top-20" style="font-size: 2.0rem!important;">A smart city is a connected city where data is not stored in different files or cabinets, rather analysed and the information is used for effective management. In cities around the world, unmanned aerial vehicles are now being used and deployed in various tasks, to lay the foundations of a smart city. The recent digital transformations in India is the perfect opportunity to harness the trues potential of drones, incorporating it in the daily lives of people.

                                </p>
                                   <h2><span><a href="https://drive.google.com/file/d/1LBhbhKaeBVB2_txuEqMaW8ZbtW7d11cr/view?usp=sharing"><b>Detailed Problem Statement and Judging Criteria</b></a></span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="guidelines" class="clubs bg-grey roomy-70">
            <div class="container">

                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>General Guidelines</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <p>
                            <li class="lead">A team should consist of a maximum of 4 members.</li>
                            <li class="lead">All the members of the team should be enrolled in a UG or PG programme in an Indian Institute of Technology, National Institute of Technology or Indian Institute of Information Technology.</li>
                            <li class="lead">The prototype should have been built by the students of the college.</li>
                            <li class="lead">UDAAN reserves the right to disqualify any team in case of any misconduct.</li>
                            <li class="lead">Every team has to register online on our website for the competition. A Team ID will be mailed to the team(within 24 hours) on registration which shall be used for future references.</li>
                            <li class="lead">A team can register at any point of time before 10 December 2019.</li>
                            <li class="lead">The decision of the organizers or judges shall be treated as final and binding on all. UDAAN has all the rights to verify the identity and accuracy of the details provided by the participants.</li>
                            <li class="lead">No responsibility will be held by UDAAN, IIT BHU for any late, lost or misdirected entries.</li>
                            <li class="lead">The idea presented by the teams should be original (not protected by means of patent/copyright/technical publication by anyone).</li>
                        </p>
                    </div>
                </div>
            </div>
        </section>








        <section id="registration" class="clubs bg-grey roomy-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading ribbon long-ribbon"><span>Registrations</span></h2>



                        <button type="button" class="collapsible">Register Now</button>
                        <div class="content">

                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfMxT07v9mbNi14yUOB6HnVg4susJ8CeeeJD1WrtdCYOdCxAA/viewform?embedded=true" width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                        </div>
                        <p>Closing in</p>
                        <h2 id="demo"></h2>
                    </div>
                </div>
            </div>








        </section>
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }
        </script>
        <script>
            // Set the date we're counting down to
            var countDownDate = new Date("Dec 10, 2019 23:59:59").getTime();

            // Update the count down every 1 second
            var x = setInterval(function() {

                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Display the result in the element with id="demo"
                document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s ";

                // If the count down is finished, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("demo").innerHTML = "EXPIRED";
                }
            }, 1000);
        </script>
        <section id="timeline" class="clubs bg-grey roomy-70">

            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading ribbon"><span>Timeline</span></h2>
                </div>
            </div>


            <div class="container">

                <div class="row">
                    <div class="col-md-12">

                        <img src="/static/udaan/img/timeline.svg" style="max-width: 100%" alt="" />


                    </div>
                </div>
            </div>
        </section>


        <footer>
            <div class="container ">
                <div class="row">

                    <div class="col-sm-4 iit-gate-position">
                        <img class="iit-gate" src="/static/img/footer-img.png" alt="iitbhu-gate">
                    </div>
                    <div class="col-sm-4 iit-gate-position">
                        <p class="footer-company-name justify-content-center"> &copy;Managed by SNTC Tech Team </p>

                        <p class="footer-company-name justify-content-center"><span style="padding-right: 2.8%;">Navtosh Das</span><span style="padding-right: 5px ;">| </span><span> Dilbwag Singh</span></p>

                    </div>
                </div>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="/static/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="/static/js/jquery.easing.min.js"></script>
        <script src="/static/js/jquery.fittext.js"></script>
        <script src="/static/js/wow.min.js"></script>
        <script src="/static/js/morphext.min.js"></script>
        <script src="/static/js/jquery.bgswitcher.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="/static/udaan/custom.js"></script>

    </body>

</html>
